<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon Quiz{% endblock %}</title>
    </head>
    <body>
        <nav>
            {% set uid = app.request.getSession().get('user_id') %}
            {% if uid %}
                <a href="{{ path('quiz_global') }}">Quiz</a> |
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a> |
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
        </nav>

        <main>{% block body %}{% endblock %}</main>
    </body>
</html>
